*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.gz
*.bin
*.eps
*.iml
*.nav
*.mdl
*.pkl
*.bst
*.snm
*.glsdefs
*.py~
*.pyc
*.synctex.gz
/data/test.csv
/data/train.csv
